@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Bai Jamjuree";
  font-size: 100%;
  font-weight: 500;
  background: linear-gradient(180deg, #010003 0%, #0A0020 56.88%, #0A0020 100%);
}

.ant-layout {
  background: linear-gradient(180deg, #010003 0%, #0A0020 56.88%, #0A0020 100%);
}

.ant-layout-content {
  font-family: "Bai Jamjuree";
  font-size: 100%;
  font-weight: 500;
  background: transparent;
}

.site-layout-content {
  padding: 1rem 5rem 1rem 5rem;
  background-color: transparent;
  background: transparent;
  color: white;
}

.white-text,
.ant-typography {
  color: white;
  font-family: "Bai Jamjuree";
}

.App {
  font-family: "Bai Jamjuree";
  font-size: 100%;
  font-weight: 500;
}

.ant-btn-link{
  color: #fb00b7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* BREAK  POINGS */

@media screen and (max-width: 500px) {
  .site-layout-content {
    padding: 2rem;
  }
}