.ant-layout-footer {
    font-family: "Bai Jamjuree";
    font-size: 100%;
    font-weight: 500;
    padding: 1vw 4vw;
    background-color: #130033;
    color: white;
}

.copyright {
    font-family: "Bai Jamjuree";
}